Repository pavelpapin/elio-os: changes, and which lefthook commands are due for each by the changed paths.
All: file-size, no-export-default, no-any-type, validate-registry

lefthook.yml:

# Lefthook pre-commit hooks
# Enforces Elio OS coding standards on staged files
# Install: npx lefthook install

pre-commit:
  parallel: true
  commands:
    file-size:
      glob: "**/*.ts"
      exclude: "node_modules|dist|\\.d\\.ts|\\.test\\.ts|\\.spec\\.ts"
      run: |
        for file in {staged_files}; do
          lines=$(wc -l < "$file")
          if [ "$lines" -gt 200 ]; then
            echo "❌ $file exceeds 200-line limit ($lines lines)"
            exit 1
          fi
        done
      stage_fixed: true

    no-export-default:
      glob: "packages/**/*.ts"
      exclude: "node_modules|dist|\\.d\\.ts"
      run: |
        if grep -l '^export default ' {staged_files} 2>/dev/null; then
          echo "❌ export default is not allowed. Use named exports."
          exit 1
        fi

    no-any-type:
      glob: "packages/**/*.ts"
      exclude: "node_modules|dist|\\.d\\.ts"
      run: |
        if grep -Pn ':\s*any\b|as\s+any\b' {staged_files} 2>/dev/null; then
          echo "❌ 'any' type is not allowed. Use 'unknown' + type guards."
          exit 1
        fi

    validate-registry:
      glob: "registry.yaml"
      run: npx tsx scripts/validate-registry.ts

feat(deploy): add automated deployment system
  CLAUDE.md
  DEPLOY.md
  docs/DEPLOYMENT.md
  lefthook.yml
  package.json
  packages/shared/src/registry.generated.ts
  packages/web-search/src/index.ts
  packages/workflow/package.json
  pnpm-lock.yaml
  scripts/deploy.sh
  scripts/ship.sh
  scripts/update-mcp.sh
Due: file-size, no-export-default, no-any-type

feat(deploy): add automated deployment system
  docs/INTEGRATION_CHECKLIST.md
  lefthook.yml
Due: none

chore: disable aggressive post-commit hook
  lefthook.yml
Due: none

Fix deep-research workflow reliability issues
  packages/deep-research/src/consilium.ts
  packages/deep-research/src/execute.ts
  packages/deep-research/src/result-merger.ts
  packages/deep-research/src/stage-runner.ts
  packages/deep-research/src/stages/collection.ts
  packages/deep-research/src/stages/discovery.ts
  packages/deep-research/src/stages/report.ts
  packages/deep-research/src/state.ts
  packages/deep-research/src/types.ts
  packages/deep-research/src/types/schemas.ts
  packages/deep-research/src/types/state.ts
Due: file-size, no-export-default, no-any-type

Add self-healing system to prevent crash loops and stuck workflows
  apps/worker/src/api.ts
  apps/worker/src/health.ts
  apps/worker/src/index.ts
  packages/workflow/__tests__/exports.contract.test.ts
  packages/workflow/src/index.ts
  packages/workflow/src/watchdog.ts
Due: file-size, no-export-default, no-any-type

Update registry.yaml
  registry.yaml
Due: validate-registry

Security: Remove hardcoded Notion API token from scripts
  scripts/add-final-batch.ts
  scripts/add-messages-to-notion.ts
  scripts/add-new-batch.ts
  scripts/check-all-archived.ts
  scripts/check-archived.ts
  scripts/cleanup-invalid.ts
  scripts/get-all-contacts.ts
Due: file-size
